/*specification*/
body{
font-family: 'Roboto', sans-serif;
}

ul, li{
    display: block;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5{
    font-weight: 100;
    /*color: #FFF*/
}

h2{
    text-align: center;
}

.container{
    width: 1000px;
    margin: auto;
}

