.header {
  background-color: #24282F;
  padding: 15px 0; }

.logo {
  height: 30px; }

.menu__item {
  margin: 0 10px; }

.menu__item a {
  font-weight: 300;
  font-size: 18px;
  color: #FFF; }

.section_one {
  background-color: #3A3D43; }

.section_one .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_one .section__menu p, .section_one .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_one .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.section_two {
  background-color: #585b62; }

.section_two .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_two .section__menu p, .section_two .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_two .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.section_three {
  background-color: #3A3D43; }

.section_three .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_three .section__menu p, .section_three .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_three .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.section_four {
  background-color: #585b62; }

.section_four .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_four .section__menu p, .section_four .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_four .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.section_five {
  background-color: #3A3D43; }

.section_five .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_five .section__menu p, .section_five .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_five .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.section_six {
  background-color: #585b62; }

.section_six .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_six .section__menu p, .section_six .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_six .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.section_seven {
  background-color: #3A3D43; }

.section_seven .section__menu {
  margin: 10px 0;
  border-right: 2px solid  #dc3545; }
  .section_seven .section__menu p, .section_seven .section__menu h2 {
    padding-top: 10px;
    color: #24282F; }

.section_seven .section__menu p {
  color: #bfbfbf;
  text-indent: 1.5em;
  text-align: justify; }

.contact {
  background-color: #3A3D43;
  margin: 0;
  padding: 0; }

.contact__description {
  padding-top: 20px;
  padding-left: 120px;
  line-height: 2em;
  height: 130px; }

.contact__item p {
  color: #FFF; }

.myPhoto {
  margin: 10px 0;
  width: 150px; }

.icons {
  margin-left: 20px; }

.icons__item {
  font-size: 30px; }
  .icons__item a {
    color: #fff;
    padding: 0 15px; }

.footer {
  background-color: #24282F;
  padding: 15px 0; }

.footer__info p {
  font-size: 14px;
  color: #FFF; }
