.header
  background-color: #24282F
  padding: 15px 0

.logo
  height: 30px

.menu
  //margin-top: 10px

.menu__item
  margin: 0 10px

.menu__item a
  font-weight: 300
  font-size: 18px
  color: #FFF
